# Global ownership
* @anianroid

*.md @anianroid
docs/ @anianroid
.github/ @anianroid

package.json @anianroid
server.js @anianroid
src/ @anianroid
src/migrations/ @anianroid
src/utils/db.js @anianroid
Dockerfile @anianroid
CONTRIBUTING.md @anianroid
LICENSE @anianroid
